<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.hnoct.kitchen">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.RecipeListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.RecipeProvider"
            android:authorities="project.hnoct.kitchen"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".ui.RecipeDetailsActivity"
            android:label="@string/title_activity_recipe_details"
            android:parentActivityName=".ui.RecipeListActivity"
            android:theme="@style/AppTheme.TransparentToolbar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="project.hnoct.kitchen.ui.RecipeListActivity" />
        </activity>
        <activity
            android:name=".prefs.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.RecipeListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="project.hnoct.kitchen.ui.RecipeListActivity" />
        </activity>
        <activity
            android:name=".ui.CreateRecipeActivity"
            android:label="@string/title_activity_create_recipe"
            android:parentActivityName=".ui.RecipeListActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="project.hnoct.kitchen.ui.RecipeListActivity" />
        </activity>
        <activity
            android:name=".ui.FavoritesActivity"
            android:label="@string/title_activity_favorites"
            android:parentActivityName=".ui.RecipeListActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="project.hnoct.kitchen.ui.RecipeListActivity" />
        </activity>
        <activity
            android:name=".ui.RecipeBookActivity"
            android:label="@string/title_activity_recipe_book"
            android:parentActivityName=".ui.RecipeListActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="project.hnoct.kitchen.ui.RecipeListActivity" />
        </activity>
        <activity
            android:name=".ui.ChapterActivity"
            android:label="@string/title_activity_chapter"
            android:parentActivityName=".ui.RecipeBookActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="project.hnoct.kitchen.ui.RecipeBookActivity" />
        </activity>
    </application>

</manifest>