<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.hnoct.kitchen">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.ActivityRecipeList"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.RecipeList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.RecipeProvider"
            android:authorities="project.hnoct.kitchen"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".ui.ActivityRecipeDetails"
            android:label="@string/title_activity_recipe_details"
            android:parentActivityName=".ui.ActivityRecipeList"
            android:theme="@style/AppTheme.Details">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="project.hnoct.kitchen.ui.ActivityRecipeList" />
        </activity>
        <activity
            android:name=".prefs.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.ActivityRecipeList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="project.hnoct.kitchen.ui.ActivityRecipeList" />
        </activity>
        <activity
            android:name=".ui.ActivityCreateRecipe"
            android:label="@string/title_activity_create_recipe"
            android:parentActivityName=".ui.ActivityRecipeList"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="project.hnoct.kitchen.ui.ActivityRecipeList" />
        </activity>
        <activity
            android:name=".ui.ActivityFavorites"
            android:label="@string/title_activity_favorites"
            android:parentActivityName=".ui.ActivityRecipeList"
            android:theme="@style/AppTheme.Favorites">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="project.hnoct.kitchen.ui.ActivityRecipeList" />
        </activity>
        <activity
            android:name=".ui.ActivityRecipeBook"
            android:label="@string/title_activity_recipe_book"
            android:parentActivityName=".ui.ActivityRecipeList"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="project.hnoct.kitchen.ui.ActivityRecipeList" />
        </activity>
        <activity
            android:name=".ui.ActivityChapter"
            android:label="@string/title_activity_chapter"
            android:parentActivityName=".ui.ActivityRecipeBook"
            android:theme="@style/AppTheme.Chapter">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="project.hnoct.kitchen.ui.ActivityRecipeBook" />
        </activity>
        <activity
            android:name=".ui.ActivityMyRecipes"
            android:label="@string/title_activity_my_recipes"
            android:parentActivityName=".ui.ActivityRecipeList"
            android:theme="@style/AppTheme.MyRecipes">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="project.hnoct.kitchen.ui.ActivityRecipeList" />
        </activity>
        <activity
            android:name=".ui.ActivitySearch"
            android:label="@string/title_activity_search"
            android:parentActivityName=".ui.ActivityRecipeList"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="project.hnoct.kitchen.ui.ActivityRecipeList" />
        </activity>
        <service android:name=".sync.AllRecipesService" />
        <service android:name=".sync.EpicuriousService" />
        <service android:name=".sync.FoodDotComService" />
        <service android:name=".sync.SeriousEatsService" />
        <service android:name=".sync.RecipeSyncService"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>
    </application>

</manifest>